{% extends "base.html" %}

{% block content %}
<ul>
{% for blog in blogs %}
<li>
<h2><a href="/blog/{{ blog.key().id() }}">{{ blog.title }}</a></h2>

      <p>{{ blog.body }}</p>

<form action="/blog" method="post">
    <input type="hidden" name="blog_id" value="{{ blog.key().id() }}"/>
    <input type="submit" value="View"/>
</form>
<form action="/delete" method="get">
    <input type="hidden" name="deleted_blog" value="{{ blog.key().id() }}"/>
    <input type="submit" value="Delete"/>
</form>
<br><br>
</li>
{% endfor %}
</ul>
{% endblock %}
