{% extends "base.html" %}

{% block content %}
<ul>
{% for blog in blogs %}

    <li>
      <strong>{{ blog.title }}</strong>
    </li>
    <li>
      <p>{{ blog.body }}</p>
    </li>
<form action="/blog" method="post">
    <input type="hidden" name="blog_id" value="{{ blog.key().id() }}"/>
    <input type="submit" value="View"/>
</form>
<form action="/delete" method="get">
    <input type="hidden" name="deleted_blog" value="{{ blog.key().id() }}"/>
    <input type="submit" value="Delete"/>
</form>
<br><br>
{% endfor %}
</ul>
{% endblock %}
